*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../images/backweb.jpg" );
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

main{
    max-width: 80%;
    margin:auto;
}

.mains{
    height: 450px;
    width: 375px;
    border-radius: 20px ;
    margin:93px auto;
}

.principal{
    margin-top:15%;
}

.boton{
    margin: 10px auto;
}

.cont_img{
    width: 450px;
    margin:auto;
}

._header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(249, 115, 22, .7);
}

._footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(249, 115, 22, .7);
}

.bgspecial{
    background-color: rgba(249, 115, 22, .3)
}

